<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Trophy Store{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

    {% block site_css %}
      {% compress css %}
      <link href="{{ static('certmanager/css/main.css') }}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    <div id="header">
        <a href="{{ url('index') }}">Home</a>
    </div>

    {% block content %}{% endblock %}

    <div id="footer">
    </div>

    {% block site_js %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      {% compress js %}
      <script src="{{ static('certmanager/js/libs/jquery.cookie.js') }}"></script>
      <script src="{{ static('certmanager/js/init.js') }}"></script>
      {% endcompress %}
    {% endblock %}
  </body>
</html>
