<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}{% endblock %}</title>

    {% block site_css %}
      {% compress css %}
      <link href="{{ static('certmanager/css/main.css') }}" rel="stylesheet">
      <link href="{{ static('browserid/persona-buttons.css') }}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    {% block content %}{% endblock %}

    <div id="footer">
      {# These links will add/remove cookies. See JavaScript. #}
      <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
      &nbsp;|&nbsp;
      <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
    </div>

    {% block site_js %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      {% compress js %}
      <script src="{{ static('certmanager/js/libs/jquery.cookie.js') }}"></script>
      <script src="{{ static('certmanager/js/init.js') }}"></script>
      {% endcompress %}
    {% endblock %}
  </body>
</html>
