---
certificate_authorities:
    digicert:
        type: digicert
        account_id: 012345
        api_key: abcdefghijklmnopqrstuvwxyz012345
destinations:
    aws_123456890123:
        type: aws
        name: example_aws_account
        iam_role: arn:aws:iam::123456890123:role/TrophyStoreCertificateManager
    zlb1.example.com:
        type: stingray
        hostname: zlb1.example.com
        username: trophystore
        password: Tr0phy$t0r3
